main{
    position: relative;
}

article{
    padding: 160px 10%;
    display: flex;
}

.coachAhmed{
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: #222;
}

.coachAhmed h1, .coachAhmed p{color: white;
width: 70%; text-align: center;}

.coachAhmed p{
    text-align: justify;
}
.coachAhmed span{
    font-weight: bold;
    font-size: 1.4rem;
}

.training{
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    position: relative;
    flex-wrap: wrap;
    padding: 160px 5%;
}

.trainingCard{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.trainingCard h1{
    text-align: center;
    font-size: 1.5rem;
}

.training p{
    text-align: justify;
}

.trainingCard a{
    padding: 13px 36px;
    border-radius: 10px;
    background-color: #af9a5f;
    border: 1Px solid black;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}



@media (max-width:978px) {
    .trainingCard{
        width: 45%;
    }
}

@media (max-width:768px) {

    .invisibleArticles section img {
        width: 40%;
    }
}

@media (max-width:500px) {
    .trainingCard {
        width: 100%;
    }

    .training{
        gap: 80px;
    }
    
    .coachAhmed h1, .coachAhmed p{
        width: 100%;
    }
}

@media (max-width:400px) {

    .invisibleArticles section img {
        width: 100%;
    }
}

/* Articles */

