
/* Main content */

/* Banner */
.banner{
    height: 85vh;
    width: 100%;
    display: flex;
    position:relative;
}

.banner section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: auto;
    position: relative;
    color: white;
    flex-direction: column;
    gap: 30px;
    background-color: #22222290;
    backdrop-filter: blur(1px);
}

.banner_btns{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: #af9a5f;
    padding: 16px 32px;
    border-radius: 5px;
    text-align: center;
}

.banner_btns .btn:nth-child(2){
    background-color: #222222;
    color: #af9a5f;
    border: 1px solid #af9a5f;
}

.banner_btns .btn:nth-child(2):hover {
    background-color: #af9a5f;
    border: none;
    color: white;
}

.banner h1, .banner p, .banner a, .banner h2{
    color: white;
    text-align: center;
}


.banner img{
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* president */

.president{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 160px 10%;
    gap: 40px;
}

.president figure{
    width: 40%;
}

.president img{
    object-fit: cover;
    border-radius: 5px;
}

.president .president_text{
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    width: 60%;
}

.president .president_text h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.president .president_text p {
    font-style: italic;
}

.president_text ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}


.president_text ul li{
    padding: 10px 5px;
    background-color: #ffffff;
    font-style: italic;
}

.nameofPres{
    text-align: end;
    font-weight: bold;
    font-size: 1.2rem;
}

.president_text span{
    font-size: 1.6rem;
}


/* Contact */

.contact{
    padding: 160px 5%;
    display: flex;
    gap: 30px;
}

.contact h1{
    text-transform: uppercase;
}

.contact_text{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.contact_img{
    width: 50%;
}

.contact_img img{
    object-fit: cover;
    border-radius: 5px;
    height: 100%;
}

form {
    width: 100%;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

/* Style the form group containers */
.form-group {
    margin-bottom: 20px;
}

/* Style the form labels */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Style the form inputs */
input,
textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
}

input:focus {
    outline-color: #af9a5f;}

/* Style the submit button */
button[type="submit"] {
    padding: 13px 32px;
    background: #af9a5f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 0.3s ease, color 0.3s ease;
}

button[type="submit"]:hover {
    background: #af9a5f90;
    color: black;
}


.maps{
    width: 100%;
    height: 200px;
    display: block;
}

.maps:hover{
    cursor: pointer;
}



.maps img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s ease;
}

.maps:hover img{
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

/* Présentation */


.presentation{
    padding: 160px 10% ;
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
}


.presentation::after{
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 450px;
    width: 450px;
    z-index: -1;
    background: rgb(213, 187, 115);
        background: linear-gradient(90deg, rgb(246, 216, 133) 0%, rgba(175, 154, 95, 1) 100%);
}

.presentation::before{
    position: absolute;
    content: '01';
    top: 20%;
    left: 35%;
    transform: translate(-35%, -20%);
    font-size: 228px;
    z-index: -1;
    color: #af9a5f50;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 20px;
}


.presentation_text, .presentation_image{
    width: 50%;
}

.presentation_text{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.presentation_text h1{
    font-size: 2rem;
    position: relative;
}

.presentation_text h1::before{
    content: 'Découvre';
    left: 0;
    top: -70%;
    font-size: 1.3rem;
    color: #af9a5f;
    font-weight: bold;
    position: absolute;
}


.presentation_text p a{
    font-size: 1rem;
    color: #af9a5f;
}


.btn{
    width: fit-content;
    transition: 0.2s ease;
}
.btn:hover{
    background-color: #222222;
    color: #af9a5f;
    border: 1px solid #af9a5f;
}

.presentation_image img{
    object-fit: cover;
    border-radius: 5px;
}


/* Dimensions */

.dimensions{
    background-color: #222222;
    padding: 120px 10% ;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.dimensions::before {
    position: absolute;
    content: '02';
    top: 0;
    right: 0;
    font-size: 228px;
    z-index: 1;
    color: #af9a5f50;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 20px;
}

.dimensions h1, .dimensions_text h2,
.dimensions_text li{
    color: white;
}
.dimensions h1{
    text-align: center;
    width: 100%;
    margin-bottom: 80px;
}


.dimensions_text{
    display: flex;
    gap: 30px;
    width: 100%;
    margin-bottom: 60px;
}

.dimensions_text div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
    padding: 20px 0;
    border: 1px solid #af9a5f;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.dimensions_text div:hover span{
    opacity: 1;
}

.dimensions_text div span{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22222280;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 10px;
    text-align: center;
    opacity: 0;
    transition: 0.2s ease-in;
    backdrop-filter: blur(10px);
}

.dimensions_text div span p{
    color: white;
    font-weight: bold;
}

.dimensions h2{
    text-align: center;
    color: #af9a5f;
    text-transform: uppercase;
}
.dimensions_text i{
    color: white;
    font-size: 2rem;
    text-align: center;
}


.dimensions_text ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.dimensions .btn{
    width: fit-content;
}

/* Entrainement */

.entrainements {
    padding: 160px 10%;
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
    flex-direction: row-reverse;
}


.entrainements::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 450px;
    width: 450px;
    z-index: -1;
    background: rgb(213, 187, 115);
    background: linear-gradient(-90deg, rgb(246, 216, 133) 0%, rgba(175, 154, 95, 1) 100%);
}

.entrainements::before {
    position: absolute;
    content: '03';
    top: 10%;
    right: 0;
    transform: translateY(-10%);
    font-size: 228px;
    z-index: -1;
    color: #af9a5f50;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 20px;
}


.entrainements_text,
.entrainements_image {
    width: 50%;
}

.entrainements_text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.entrainements h1 {
    font-size: 2rem;
    position: relative;
    color: #222222;
}

.entrainements_text h1::before {
    content: 'Entraînements';
    left: 0;
    top: -40%;
    font-size: 1.3rem;
    color: #af9a5f;
    font-weight: bold;
    position: absolute;
}


.entrainements p a {
    font-size: 1rem;
    color: #af9a5f;
}


.btn {
    width: fit-content;
    transition: 0.2s ease;
}

.btn:hover {
    background-color: #222222;
    color: #af9a5f;
    border: 1px solid #af9a5f;
}

.entrainements img {
    object-fit: cover;
    border-radius: 5px;
}

.planning_row:nth-child(even) {
    background-color: #22222290;
}
.planning_row:nth-child(odd) {
    background-color: #222222;
}

.planning_row:nth-child(odd) li, .planning_row:nth-child(odd) h3{
    color: white;
}
.planning_row{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #af9a5f;
    padding: 10px 30px;
}



.planning_row ul{
    display: flex;
    gap: 30px;
}

/* Actualité */

.actu{
    height: 500px;
    background-color: #af9a5f;
    display: flex; justify-content: center; align-items: center;
}

.actu h1{
    color: white;
    text-align: center;
}

/* Inscriptions */

.inscriptions{
    position: relative;
    background-color: #222222;
    padding: 100px 10%;
}

.inscriptions_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 60%;
    margin: auto;
}

.inscriptions_text h1, .inscriptions_text p{
    text-align: center;
    color: white;
}


.inscriptions_text h1{
    color: #af9a5f;
}
